<div id="<%= dom_id teacher %>">
  <p>
    <strong>Lastname:</strong>
    <%= teacher.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= teacher.firstname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= teacher.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= teacher.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= teacher.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= teacher.zip %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= teacher.phone %>
  </p>

  <p>
    <strong>Dean:</strong>
    <%= teacher.dean ? "Oui" : "Non" %>
  </p>

</div>
