<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="w-full">
      <div class=" bg-slate-300">
        <div class=" mx-3 h-12 justify-center items-center flex flex-wrap ">
          <div class=" ">
            <h1 class="text-2xl"><img src="https://dummyimage.com/100x40/fff/000&text=Lo+titre+là"></h1>
          </div>
          <div class="flex-1 flex justify-between">
            <div class="flex flex-1 ">
              <div class="mx-4">
                <h1 class=""><%= link_to "Home", url_for(controller: 'home', action: 'index') %></h1>
              </div>
              <div class="mx-4">
                <h1 class=""><%= link_to "Students", url_for(controller: 'students', action: 'index') %></h1>
              </div>
              <div class="mx-4">
                <h1 class=""><%= link_to "Branches", url_for(controller: 'branches', action: 'index') %></h1>
              </div>
              <div class="mx-4">
                <h1 class=""><%= link_to "Teachers", url_for(controller: 'teachers', action: 'index') %></h1>
              </div>
              <div class="mx-4">
                <h1 class=""><%= link_to "Grades", url_for(controller: 'grades', action: 'index') %></h1>
              </div>
              <div class="mx-4">
                <h1 class=""><%= link_to "Schoolclasses", url_for(controller: 'school_classes', action: 'index') %></h1>
              </div>
            </div>
            <div class="flex">
              <h1 class="flex-1"><%= link_to "Register", url_for(controller: 'home', action: 'index') %></h1>
              <p class="mx-2">|</p>
              <h1 class="flex-1"><%= link_to "Login", url_for(controller: 'home', action: 'index') %></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="  justify-center items-center">
        <div class=" my-2 mx-12 ">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
